<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Data Mobil</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<div>
    <div class="container text-center">
        <div th:if="${data.id==null}">
            <h1>Tambah Mobil</h1>
        </div>
        <div th:unless="${data.id==null}">
            <h1>Edit Mobil</h1>
        </div>
        <form th:action="@{/simpan}" th:object="${data}" method="post" style="max-width: 600px; margin:0 auto">
            <input type="text" th:field="*{id}" th:value="${data.id}" hidden="true">

            <div class="mb-3">
                <div class="input-group flex-nowrap">
                    <span class="input-group-text">@</span>
                    <input type="text" th:field="*{model}" class="form-control" placeholder="Model" aria-label="Username" aria-describedby="addon-wrapping">
                </div>
            </div>

            <div class="mb-3">
                <div class="form-floating">
                    <select th:field="*{merekMobil}" class="form-select" id="floatingSelect" aria-label="Floating label select example">
                        <th:block th:each="value:${listmerek}">
                            <option th:text="${value.nama}" th:value="${value.id}" />
                        </th:block>
                    </select>
                    <label for="floatingSelect">Merek Mobil</label>
                </div>
            </div>

            <div class="mb-3">
                <div class="input-group flex-nowrap">
                    <span class="input-group-text">@</span>
                    <input type="text" th:field="*{tahunBuat}"  class="form-control" placeholder="Tahun" aria-label="Username" aria-describedby="addon-wrapping">
                </div>
            </div>

            <div class="mb-3">
                <div class="input-group flex-nowrap">
                    <span class="input-group-text">@</span>
                    <input type="text" th:field="*{warna}"  class="form-control" placeholder="Warna" aria-label="Username" aria-describedby="addon-wrapping">
                </div>
            </div>

            <div class="mb-3">
                <div class="form-floating">
                    <select th:field="*{roda}" class="form-select" aria-label="Floating label select example">
                        <th:block th:each="value:${roda}">
                            <option th:text="${value.nama}" th:value="${value.id}" />
                        </th:block>
                    </select>
                    <label for="floatingSelect">Merek Ban</label>
                </div>
            </div>

            <div class="mb-3">
                <div class="input-group flex-nowrap">
                    <span class="input-group-text">@</span>
                    <input type="text" th:field="*{kecepatan}"  class="form-control" placeholder="Kecepatan" aria-label="Username" aria-describedby="addon-wrapping">
                </div>
            </div>

            <div class="mb-3">
                <div class="input-group flex-nowrap">
                    <span class="input-group-text">$</span>
                    <input type="text" th:field="*{harga}" class="form-control" placeholder="Harga" aria-label="Username" aria-describedby="addon-wrapping">
                </div>
            </div>

            <div class="mb-3">
                <input class="btn btn-primary" type="submit" value="Submit">
            </div>

        </form>
    </div>
</div>

</body>
</html>